body {
	
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 20px;
	border: 5px solid #777777;
	padding: 50px;
	background-color: #2F55AF;
}


h2 {
	background-color: red;
	padding: 10px 20px 30px 40px
	text: center;
	border: dotted 6px gold;  
	margin: 30px;
}
img {
	border: 10px 10px 10px 10px;
	border-color: black 50px;
	line-height: 2;
	margin: 10px 10px 10px 10px;
	padding: 20px 20px 20px 20px  
}

